.ShowTable {
	width: 90%;
	height: 500px;
	margin-left: 95px;
	overflow: scroll;
}
.DropDown{
    margin-top: 15px;
}
#plotChart {
    display: none;
    margin-left: 550px;
    margin-right: 550px;
}
body{
	background-color: #FBFCFC;
}

h1 {
	margin-left: 96px;
	padding-left: 100px;
	color: #C70039;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -80px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 160px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#d1 {
    top: 120px;
    background-color: #4CAF50;
}

#d2 {
    top: 180px;
    background-color: #2196F3; /* Blue */
}

#d3 {
    top: 240px;
    background-color: #f44336; /* Red */
}

#d4 {
    top: 300px;
    background-color: #555 /* Light Black */
}

#d5 {
	top: 360px;
	background-color: #111
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}